@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);



#header17-16 P {
  font-size: 48px;
  color: #8bc34a;
}
#header22-6 i {
  color: #8bc34a;
}
#header22-6 P {
  color: #000000;
  font-size: 15px;
}
#header22-6 B {
  text-align: center;
  color: #00bcd4;
}
#msg-box8-25 P {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}
#header17-12 H2 {
  font-size: 72px;
  text-align: center;
}
#header17-12 SPAN {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#header17-12 P {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#menu-17 .nav.navbar-nav.navbar-right a {
  font-size: 18px;
}
#header6-14 DIV {
  text-align: center;
  font-size: 60px;
}
#contacts5-11 i {
  color: #8bc34a;
}
#contacts5-11 P {
  font-size: 19px;
}
#msg-box18-15 P {
  font-size: 60px;
}
#msg-box18-11 H3 {
  font-size: 72px;
}
#msg-box18-11 P {
  font-size: 23px;
}
